.the-scene {
  width: 100%;
  height: 100%;
  perspective: 200px;
}

.r-cube {
  position: relative;
  width: 100%;
  height: 100%;
	transform: translateZ(-50px) rotateY(0);
  transform-style: preserve-3d;
	transition: transform .6s;
}

.r-cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
	border: 2px solid #000;
	transform: rotate3d(var(--x,0), var(--y,0), 0, calc(var(--r, 0) * 90deg)) translateZ(50px);
}

.r-cube__face--front {
	background: rgba(var(--theme-orange), .6);
}
.r-cube__face--right {
	--y: 1;
	--r: 1;
	background: rgba(var(--theme-blue), .6);
}
.r-cube__face--back {
	--y: 1;
	--r: 2;
	background: rgba(var(--theme-orange), .6);
}
.r-cube__face--left {
	--y: -1;
	--r: 1;
	background: rgba(var(--theme-blue), .6);
}
.r-cube__face--top {
	--x: 1;
	--r: 1;
	background: rgba(var(--theme-cream), .6);
}
.r-cube__face--bottom {
	--x: -1;
	--r: 1;
	background: rgba(var(--theme-cream), .6);
}


/*
         _____________             ___________________________________
      /\\             /                                             \\|
     /  \\           /                                               \|
    /    \\         /                                                 |
   /      \\______ /  ____            _      ___   __    ___          |
  /       //      /  /  __) ___  _  _| | ___/ __) | __) / _ \ /\  /\
 /       //      /   | |   / _ \/ :/__\|/ _ \ _ \ ||__ | {_} /  \/  \
/       / ------     | |__| [_] |  / | | (_)| _:; ||___| | | ||\__/||
\       \ ------     \____)_| |_|_|  |_\ ___/ __/ |____)_| |_||    ||
 \       \\      \   
  \       \\______\                 Web Shuriken
   \      //       \                    2023
    \    //         \                  
     \  //           \         https://carlosealford.com/            /|
      \//_____________\                _____________________________//|